


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, p, a {
	background: #252525;
	color: #e1e1e1;
	font-family: "ff-meta-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
}
@media all and (min-width: 499px) {
	p, a { font-size: 22px; }
}
@media all and (max-width: 498px) {
	br { display: block !important; }
}
a,
a:focus,
a:hover,
a:active {
	color: #e1e1e1;
	text-decoration: none;
}
br {
	display: none;
}
#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.content {
	margin: auto;
	width: 100%;
	max-width: 400px;
	padding: 30px 15px;
	text-align: center;
}
.content p {
	max-width: 340px;
	margin: 0 auto 20px;
}
.content svg {
	width: 100%;
	max-height: 280px;
}
.bottom-links a {
	display: block;
}